@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

      --secondary-glow: conic-gradient(
        from 10deg at 50% 50%,
        #eb7494 0deg,
        #ae77b2 55deg,
        #97b5da 120deg,
        #0099ca 160deg,
        transparent 360deg
      );
    
      --third-glow: conic-gradient(
        from 90deg at 50% 50%,
        #ff8b7e 0deg,
        #e24e6b 160deg,
        #7ed2da 120deg,
        #8bdce0 55deg,
        transparent 360deg
      );

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);

  }
  100% {
    transform: translateX(0);
  }
}

.animate-custom::before,
.animate-custom::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8; /* Adjust opacity as needed */
}

.animate-custom::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw);
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.animate-custom::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.nowPlayingCard {
  flex-shrink: 0;
  border-radius: 22px;
  background-color: black;
  font-style: white;
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #ae77b2;
  align-items: center;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.nowPlayingCard:hover {
  box-shadow: 10px 10px 0 #ae77b2;
  transform: translateX(-10px) translateY(-10px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.nowPlayingCard a {
  color: white;
  text-decoration: none;
}

.nowPlayingCard a:hover {
  color: white;
  text-decoration: underline;
}

.nowPlayingImage img {
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin: 10px;
}

.nowPlayingImage img:hover {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-3px) translateY(-3px);
  transition: all 0.5s ease;
}

#nowPlayingDetails {
  justify-content: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 54%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 54%;
  height: 100%;
}

.nowPlayingTitle, .playlistName {
  flex-shrink: 0;
  color: white;
  white-space: nowrap;
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.nowPlayingArtist, .playlistHeader {
  text-align: left;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 16px;
  white-space: nowrap;
  width: 100%;
}

.nowPlayingTime {
  text-align: left;
}

.nowPlayingState {
  text-align: center;
  width: 20%;
  padding: 10px;
}

.nowPlayingState img{
  
  width: 100%;
}

.profile-pic {
  width: 90px; /* Adjust size as needed */
  height: 90px; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
  object-fit: cover;
}

/* Responsive styling for smaller screens */
@media (max-width: 640px) {
  .xs\:profile-pic-sm {
    width: 60px; /* Adjust size for smaller screens */
    height: 60px; /* Adjust size for smaller screens */
  }
}